@import "/home/loki/.config/waybar/colors/base16-onedark.css";

* {
    border: none;
    border-radius: 0;
    font-family:  "Gohu GohuFont", Roboto, Helvetica, Arial, sans-serif;
    min-height: 0;
    padding: 0 6px;
}

window#waybar {
    font-family:  "Misc Termsyn.Icons", sans-serif;
    font-size: 10px;
    background: rgba(43, 48, 59, 0.3);
    color: grey;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces {
    font-size: 10px;
    padding: 0 10px;
}

#workspaces button {
    font-size: 10px;
    padding: 0 10px;
    color: grey;
}


#workspaces button.focused {
    font-size: 10px;
    background: rgba(100, 114, 125, 0.2);
    color: silver;
}

#mode {
    font-family:  "Gohu GohuFont", sans-serif;
    color: red;
    padding: 1px 15px;
    font-size: 10px;
    background: rgba(43, 48, 59, 0.5);
    border-left: 1px dotted red;
    border-right: 1px dotted red;
    border-bottom: 1px dotted red;
    border-top: 1px dotted red;
}

#clock, #battery, #cpu, #memory, #network, #pulseaudio, #temperature, #backlight, #idle_inhibitor, #custom-sl, #custom-spotify {
    padding: 1 6px;
    margin: 1 5px;
}

#clock {
    font-family:  "Gohu GohuFont", sans-serif;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 12px;
}
#clock.date {
    font-family:  "Gohu GohuFont", sans-serif;
    font-weight: 100;
    color: silver;
    font-size: 10px;
}

#battery {
    color: grey;
    font-weight: 300;
    font-size: 9px;
}

#battery.charging {
    color: grey;
}

@keyframes blink {
    to {
        background-color: rgba(1, 1, 1, 0);
    }
}

#battery.warning:not(.charging) {
    background: #f53c3c;
    color: grey;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
    background: transparent;
    border-bottom: 3px solid @color5;
    color: grey;
}

#memory {
    background: transparent;
    border-bottom: 3px solid @color7;
    color: grey;
}

#network {
    background: transparent;
    color: grey;
    font-weight: 100;
    font-size: 9px;
}
#network.disconnected {
    background: transparent;
    color: crimson;
}

#temperature {
    background: transparent;
    color: grey;
    font-weight: 100;
    font-size: 9px;
}

#pulseaudio {
    background: transparent;
    color: grey;
    font-weight: 100;
    font-size: 9px;
}

#pulseaudio.muted {
    color: #883636;
    background-color: rgba(119, 36, 36, 0.1);
}
#idle_inhibitor {
    background: transparent;
    color: grey;
    font-weight: 100;
    font-size: 9px;
}
#tray {
    background-color: transparent;
}

#custom-sl.good {
    border-bottom: 3px solid green;
}

#custom-sl.other {
    border-bottom: 3px solid #F4AF39;
}

#custom-sl.minor {
    background-color: red;
}

#custom-sl.major {
    background-color: red;
}

#custom-spotify.playing {
    font-size: 10px;
    font-weight: 100;
    color: grey;   
    border-bottom: none;
}

#custom-spotify.paused {
    font-size: 10px;
    font-weight: 100;
    color: grey;   
    border-bottom: none;
}
